<div class="header">


  <mat-toolbar color="primary">
    <button mat-icon-button> <span routerLink='/'>
        <h1>pokedex</h1>
      </span></button>

    <span class="header__spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
      routerLink='/favorites'>
      <mat-icon>favorite</mat-icon>
    </button>
    <a href="https://github.com/chavi770/pokedex-app" target="_blank">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon  ">
        <mat-icon>share</mat-icon>
      </button></a>
  </mat-toolbar>


</div>